#Desktop {
    font-family: 'Open Sans', 'Open Sans Fallback';
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 10%;
    background-color: white;
    border-bottom: 2px solid #CDD0D5;
    padding: 0.5% 1.5%;

    button {
        height: fit-content;
        font-size: medium;
        padding: .5rem;
        border-radius: 0;
        background-color: white;
        color: black;
        border: 2px solid #2E6BB2;
        font-family: 'Open Sans', 'Open Sans Fallback';
        font-weight: bold;
        cursor: pointer;
    }

    .izquierda {
        display: flex;
        justify-content: space-around;
        width: 50%;
        height: 10%;

        img {
            width: 50%;
            height: 30%;
            border-right: 3px solid #595959;
        }

        div {
            display: flex;
            width: 50%;
            justify-content: space-evenly;
            align-items: center;

            .Boton2 {
                background-color: #ffff;
                color: black;
                border: 0;
            }
        }
    }

    .invisible {
        display: none !important;
    }


    #FormularioReserva {
        justify-content: center;
        width: 80%;
        height: 30%;
        padding: 0 2%;
        margin: 0 10%;
        background-color: white;
        position: absolute;
        top: 10.4%;

        .formArriba {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            margin-bottom: 1rem;
            justify-content: flex-start;
            cursor: pointer;
            color: black;

            #TipoDeViaje {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-evenly;
                align-items: center;
                width: 15%;

                #opcionTipoDeViaje {
                    width: 65%;
                }
            }

        }
    }

    .dadoVuelta {
        transform: rotate(-180deg);
        transition: 0.5s;
    }

    #FormularioTipoDeViaje {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .60);
        z-index: 1000;

        #select {
            position: absolute;
            top: 13.5%;
            left: 11.5%;
            padding: 1rem;
            width: 30%;
            font-family: 'Open Sans', 'Open Sans Fallback';
            background-color: white;
            opacity: 1;
            color: black;

            span {
                display: block;
                width: 100%;
                background-color: #595959;
                height: 3px;
            }

            h3 {
                padding-left: 5%;
            }
        }
    }

    #cantidadPersonas {
        display: flex;
        flex-wrap: nowrap;
        /* justify-content: space-evenly; */
        align-items: center;
        width: 15%;
    }

    #FormularioCantidadPasajeros {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 30%;
        gap: 1rem;

        .ContainerTipoPasajero {
            border-bottom: 1.3px solid #59595994;
            height: 5rem;

            .eleccionCategoriaPasajero {
                display: flex;
                justify-content: space-between;

                .botonesCantidadPasajeros {
                    display: flex;
                    justify-content: space-between;
                    width: 30%;

                    svg:first-of-type {
                        color: #595959;
                    }

                    svg:nth-of-type(2) {
                        color: #2E6BB2;
                    }

                    cursor: pointer;
                    font-size: 1.4rem;

                }

            }

            p {
                font-size: 0.9rem;
                padding-top: 0.3rem;
            }
        }

        button {
            width: 20%;
            align-self: flex-end;
        }

    }

    .seleccionado {
        background-color: rgb(47, 107, 179, .2);
        color: #2E6BB2;
    }

    .derecha {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30%;

        .Usuario {
            display: flex;
            align-items: center;

            span {
                display: block;
                background-color: #595959;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
            }
        }

        #MenuDesktop {
            display: flex;
            align-items: center;
            font-size: 30px;
            color: black;
        }

        .Boton2 {
            background-color: #ffff;
            color: black;
            border: 0;
        }
    }

    #DestinoOrigen {
        color: black;
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-items: center;
        .Select{
            display: block;
            width: 40%;
            .selectInput{
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                .Arrow{
                    font-size: xx-large;
                }
            }
        }

        #FormularioOrigen {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, .60);
            z-index: 1000;
            color: white;

            #selectOrigen {
                position: absolute;
                top: 20.5%;
                left: 11.5%;
                padding: 1rem;
                width: 50%;
                font-family: 'Open Sans', 'Open Sans Fallback';
                background-color: white;
                opacity: 1;
                color: black;
            }

        }
    }
}

.Input{
    padding: 0.1rem;
    margin: 0.1rem;
    border-bottom: #595959 3px solid;
    h3{
        font-size: x-large;
    }
}

.BttnAzul{
    color: #2E6BB2;
}

.ArrowsSwitch{
    font-size: xx-large;
}

.spanSelect{
    font-weight: bolder;
}

.ListaAirports{
    margin: 0.3rem 0;
    font-size: large;
    border-bottom: #595959 solid 2px;
}

.ListaAirports:hover{
    cursor: pointer;
    color: #2E6BB2;
    font-weight: 600
}

h1 {
    color: white;
}

.formAbajo{
    display: flex;
    align-items: center;
    justify-content: space-between;

    #BotonesDeFecha{
        display: flex;
        flex-wrap: nowrap;
        .fechaBoton {
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            color: #2E6BB2;
            font-weight: bold;
            border: #595959 2px solid;
            border-radius: 0;
            background-color: unset;
            align-items: center;
        }
    
    }

    .DatePicker{
        position: relative;
    }
}

